:root {
  --cor-fundo-escuro: #18110B;
  --cor-fundo-claro: #efa45e;
  --cor-fundo-card: #e9c47b;
  --cor-texto-principal: #2B2118;
  --cor-texto-suave: #62564C;
  --cor-texto-claro: #c2864b; 
  --cor-laranja: #9c785a;
  --cor-laranja-hover: #D97734;
  --cor-botao-escuro: #2B2118;
  --cor-borda-suave: #885309;
  --fonte-titulo: 'Lora', serif;
  --fonte-corpo: 'Plus Jakarta Sans', sans-serif;
}

* {
margin: 0; /*Altera a margem */
padding: 0; /*Altera o preenchimento */
box-sizing: border-box; /* Trava os pixels da tela */

}

html {
scroll-behavior: smooth; /*adiciona rolagem suave */
scroll-padding-top: 30px; /* Adiciona um espaçamento no conteudo interno da rolagem */
}

section {
  scroll-margin-top: 30px; /* Adiciona um espaçamento no conteúdo da rolagem */
}

body {
 font-family: var(--fonte-corpo); /*Muda a fonte do documento*/
 background-color: var(--cor-fundo-claro); /*Muda a cor de fundo do documento*/
 color: var(--cor-texto-principal); /*Muda a cor do texto do documento*/
 line-height: 1.6; /*Aumenta o espaçamento entre as linhas do texto*/
}

h1,
h2,
h3 {
  font-family: var(--fonte-titulo); /*Muda a fonte dos titulos*/
}

.cabecalho {
 background-color: var(--cor-fundo-escuro); /*Muda a cor de fundo do cabeçalho*/
 padding: 20px; /*Altera o preenchimento do cabeçalho*/
 display: flex; /*Altera o layout do cabeçalho, posicionando os elementos lado a lado */
 justify-content: space-between; /*Altera o espaçamento entre os elementos do cabeçalho*/
 align-items: center; /*Altera o alinhamento dos elementos do cabeçalho*/
 position: sticky; /*Mantém o cabeçalho fixo no topo da página*/
 top: 0; /*Mantém o cabeçalho fixo no topo da página*/
 z-index: 1000; /*Mantém o cabeçalho acima dos outros elementos da página*/
}


.logo {
  font-family: var(--fonte-titulo);
  font-size: 22px;
  font-weight: 700;
  color: var(--cor-fundo-card);
  text-decoration: none;
}


.logo i {
  color: var(--cor-laranja);/* Muda a cor do ícone da logo */
  margin-left: 10px;/* Adiciona uma margem à esquerda do ícone */

}

.navegacao {
  display: flex;/* Define o layout como flexível */
  gap: 32px;/* Espaçamento entre os links da navegação */
}

.navegacao a {
  color: var(--cor-fundo-claro); /* Cor do texto da navegação */
  text-decoration: none; /* Remove o sublinhado dos links */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
  padding-bottom: 4px; /* Espaçamento inferior para o efeito de hover */
  
}

.navegacao a:hover,
.navegacao a.active {
    color: var(--cor-fundo-card); /* Cor do texto ao passar o mouse ou quando ativo */ 
    border-bottom: 2px solid var(--cor-laranja); /* Adiciona uma borda inferior ao passar o mouse ou quando ativo */
}

.destaque {
  background-color: var(--cor-fundo-escuro); /* Muda a cor de fundo do destaque */
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.50), rgba(255, 255, 255, 0.25)), url('https://images.unsplash.com/photo-1509042239860-f550ce710b93?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');/* Adiciona uma imagem de fundo ao destaque */
  background-position: center right; /* Posiciona a imagem de fundo no centro à direita */
  min-height: 440px; /* Define a altura mínima do destaque */
  background-size: cover; /* Faz a imagem de fundo cobrir todo o destaque */
  display: flex; /* Define o layout como flexível */
  flex-direction: column; /* Alinha os elementos do destaque em coluna */
  justify-content: center; /* Centraliza os elementos do destaque verticalmente */
  align-items: flex-start; /* Alinha os elementos do destaque à esquerda */
  padding: 64px 8%; /* Adiciona preenchimento interno ao destaque */

}

.destaque h1 {
  font-size: 45px; /* Define o tamanho da fonte do título do destaque */
  color: var(--cor-fundo-card); /* Muda a cor do título do destaque */
  margin-bottom: 13px; /* Adiciona uma margem inferior ao título do destaque */
  max-width: 580px; /* Define a largura máxima do título do destaque */
  
}

.destaque h1 .destaque-texto {
  color: var(--cor-laranja); /* Muda a cor do texto destacado */


}

.frase-efeito {
  font-size: 18px; /* Define o tamanho da fonte da frase de efeito */
  color: var(--cor-texto-claro);/* Muda a cor da frase de efeito */
  font-style: italic; /* Deixa a frase de efeito em itálico */
  margin-bottom: 32px; /* Adiciona uma margem inferior à frase de efeito */
 
}

.botao {
  display: inline-block; /* Define o botão como um elemento em linha */
  padding: 12px 28px; /* Adiciona preenchimento interno ao botão*/
  border-radius: 30px; /* Adiciona bordas arredondadas ao botão */
  font-family: var(--fonte-corpo); /* Muda a fonte do botão */
  font-size: 16px; /* Define o tamanho da fonte do botão */
  font-weight: 700; /* Define o peso da fonte do botão */
  text-decoration: none; /* Remove o sublinhado do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  text-align: center; /* Centraliza o texto do botão */

 
}

.botao-primario {
  background-color: var(--cor-laranja); /* Muda a cor de fundo do botão primário */
  color: var(--cor-fundo-escuro); /* Muda a cor do texto do botão primário */
}

.botao-primario:hover {
 background-color: var(--cor-laranja-hover); /* Muda a cor de fundo do botão primário ao passar o mouse */
}

.botao-secundario {
  background-color: var(--cor-fundo-escuro); /* Muda a cor de fundo do botão secundário */
  color: var(--cor-fundo-claro); /* Muda a cor do texto do botão secundário */

}


.titulo-secao {
  font-size: 35px; /* Define o tamanho da fonte do título da seção */
  color: var(--cor-fundo-escuro); /* Muda a cor do título da seção */
  text-align: center; /* Centraliza o título da seção */
  margin-bottom: 40px; /* Adiciona uma margem inferior ao título da seção */
  width: 100%; /* Define a largura do título da seção */
}

.titulo-secao.texto-esquerda {
  text-align: left; /* Alinha o título da seção à esquerda */
}

.favoritos {
    display: flex; /* Define o layout como uma grade */
    padding: 54px 8%; /* Adiciona preenchimento interno à seção de favoritos */
    flex-wrap: wrap; /* Permite que os elementos da seção de favoritos quebrem para a próxima linha */
    gap: 29px; /* Adiciona espaçamento entre os elementos da seção de favoritos */
    justify-content: center; /* Centraliza os elementos da seção de favoritos */

}

.card {
  display: flex; /* Define o layout do card como flexível */
  min-width: 300px; /* Define a largura mínima do card */
  background-color: var(--cor-fundo-card); /* Muda a cor de fundo do card */
  border-radius: 12px; /* Adiciona bordas arredondadas ao card */
  border: 1px solid var(--cor-borda-suave); /* Adiciona uma borda ao card */
  flex: 1;
  overflow: hidden; /* Oculta o conteúdo que ultrapassa os limites do card */
}

.card img {
  width: 130px; /* Define a largura da imagem do card */
  height: 100%; /* Define a altura da imagem do card */
  object-fit: cover; /* Faz a imagem do card cobrir todo o espaço disponível */
}

.card-conteudo {
  padding: 20px 16px; /* Adiciona preenchimento interno ao conteúdo do card */
  display: flex; /* Define o layout do conteúdo do card como flexível */
  flex-direction: column; /* Alinha os elementos do conteúdo do card em coluna */
  justify-content: center; /* Adiciona espaçamento entre os elementos do conteúdo do card */
  
}

.card-conteudo h3 {
  font-size: 20px; /* Define o tamanho da fonte do título do card */
  color: var(--cor-fundo-escuro); /* Muda a cor do título do card */
  margin-bottom: 6px; /* Adiciona uma margem inferior ao título do card */
  
}

.card-conteudo p {
  font-size: 14px; /* Define o tamanho da fonte do parágrafo do card */
  color: var(--cor-fundo-escuro); /* Muda a cor do parágrafo do card */
  margin-bottom: 10px; /* Adiciona uma margem inferior ao parágrafo do card */
}

.card-conteudo .preco {
  font-size: 18px; /* Define o tamanho da fonte do preço do card */
  font-weight: 700; /* Define o peso da fonte do preço do card */
  color: var(--cor-laranja-hover); /* Muda a cor do preço do card */
}

.sobre {
  padding: 64px 8%; /* Adiciona preenchimento interno à seção sobre */
  display: flex; /* Define o layout da seção sobre como flexível */
  flex-wrap: wrap; /* Permite que os elementos da seção sobre quebrem para a próxima linha */
  gap: 56px; /* Adiciona espaçamento entre os elementos da seção sobre */
  align-items: center; /* Alinha os elementos da seção sobre ao centro */

}

.sobre-info {
  flex: 1; /* Faz a seção de informações sobre ocupar o espaço restante */
  min-width: 280px; /* Define a largura mínima da seção de informações sobre */
 
}

.sobre-info p {
   color: var(--cor-texto-principal); /* Muda a cor do texto da seção sobre */
    font-size: 16px; /* Define o tamanho da fonte do texto da seção sobre */
    margin-right: 19px 29px; /* Adiciona uma margem à direita do texto da seção sobre */
 
}

.sobre-imagem {
  width: 280px; /* Define a largura da imagem da seção sobre */
  height: 300px; /* Define a altura da imagem da seção sobre */
  border-radius: 16px; /* Adiciona bordas arredondadas à imagem da seção sobre */
  object-fit: cover; /* Faz a imagem da seção sobre cobrir todo o espaço disponível */
}


.sobre-imagem img {
  width: 100%; /* Define a largura da imagem da seção sobre */
  height: 300px; /* Define a altura da imagem da seção sobre */
  border-radius: 16px; /* Adiciona bordas arredondadas à imagem da seção sobre */
  object-fit: cover; /* Faz a imagem da seção sobre cobrir todo o espaço disponível */

}

.contato {
  text-align: center; /* Centraliza o conteúdo da seção de contato */
  color: var(--cor-texto-suave); /* Muda a cor do texto da seção de contato */

 
}

.contato-subtitulo {
  text-align: center; /* Centraliza o subtítulo da seção de contato */
  color: var(--cor-texto-suave); /* Muda a cor do subtítulo da seção de contato */
  margin-bottom: 29px; /* Adiciona uma margem inferior ao subtítulo da seção de contato */
  margin-top: 29px; /* Adiciona uma margem superior ao subtítulo da seção de contato */
  font-size: 15px; /* Define o tamanho da fonte do subtítulo da seção de contato */

}

.formulario-contato {
  max-width: 580px; /* Define a largura máxima do formulário de contato */
  margin: 0 auto; /* Centraliza o formulário de contato */
  background-color: var(--cor-fundo-card); /* Muda a cor de fundo do formulário de contato */
  padding: 40px; /* Adiciona preenchimento interno ao formulário de contato */
  border-radius: 16px; /* Adiciona bordas arredondadas ao formulário de contato */
  border: 1px solid var(--cor-borda-suave); /* Adiciona uma borda ao formulário de contato */
  display: flex; /* Define o layout do formulário de contato como flexível */
  flex-direction: column; /* Alinha os elementos do formulário de contato em coluna */
  gap: 12px; /* Adiciona espaçamento entre os elementos do formulário de contato */
  margin-bottom: 12px; /* Adiciona uma margem inferior ao formulário de contato */
  
}

.formulario-contato label {
  font-size: 14px; /* Define o tamanho da fonte dos rótulos do formulário de contato */
  font-weight: 600; /* Define o peso da fonte dos rótulos do formulário de contato */
  
}

.formulario-contato input,
.formulario-contato textarea {
  width: 100%; /* Define a largura dos campos de entrada e área de texto do formulário de contato */
  padding: 12px 14px; /* Adiciona preenchimento interno aos campos de entrada e área de texto do formulário de contato */
  border: 1px solid var(--cor-borda-suave); /* Adiciona uma borda aos campos de entrada e área de texto do formulário de contato */
  border-radius: 8px; /* Adiciona bordas arredondadas aos campos de entrada e área de texto do formulário de contato */
  font-size: 15px; /* Define o tamanho da fonte dos campos de entrada e área de texto do formulário de contato */
  color: var(--cor-texto-principal); /* Muda a cor do texto dos campos de entrada e área de texto do formulário de contato */
  margin-bottom: 8px; /* Adiciona uma margem inferior aos campos de entrada e área de texto do formulário de contato */

 
}

.formulario-contato input:focus,
.formulario-contato textarea:focus {
  outline: none; /* Remove o contorno padrão ao focar nos campos de entrada e área de texto do formulário de contato */
  border-color: var(--cor-laranja); /* Muda a cor da borda ao focar nos campos de entrada e área de texto do formulário de contato */
  background-color: var(--cor-borda-suave); /* Muda a cor de fundo ao focar nos campos de entrada e área de texto do formulário de contato */

 
}

.botao-enviar {
  margin-top: 12px; /* Adiciona uma margem superior ao botão de envio do formulário de contato */
  padding: 14px; /* Adiciona preenchimento interno ao botão de envio do formulário de contato */
  
}

.rodape {
  background-color: var(--cor-fundo-escuro); /* Muda a cor de fundo do rodapé */
  color: var(--cor-fundo-claro); /* Muda a cor do texto do rodapé */
  padding: 40px 8%; /* Adiciona preenchimento interno ao rodapé */
  display: flex; /* Define o layout do rodapé como flexível */
  justify-content: space-between; /* Adiciona espaçamento entre os elementos do rodapé */
  align-items: center; /* Alinha os elementos do rodapé ao centro */
  flex-wrap: wrap; /* Permite que os elementos do rodapé quebrem para a próxima linha */
  gap: 32px; /* Adiciona espaçamento entre os elementos do rodapé */

  
}

.rodape-item {
  display: flex; /* Define o layout do item do rodapé como flexível */
  align-items: center;/* Alinha os elementos do item do rodapé à linha de base */
  gap: 13px; /* Adiciona espaçamento entre os elementos do item do rodapé */
  font-size: 14px; /* Define o tamanho da fonte do item do rodapé */
  
}

.icone-rodape {
  font-size: 19px; /* Define o tamanho da fonte do ícone do rodapé */
  color: var(--cor-laranja); /* Muda a cor do ícone do rodapé */
  
}

.rodape-item a {
  font-weight: 600; /* Define o peso da fonte do link do rodapé */
  text-decoration: none; /* Remove o sublinhado do link do rodapé */
  color: var(--cor-fundo-card); /* Muda a cor do link do rodapé */

  
}

.rodape-item a:hover {
  color: var(--cor-laranja-hover); /* Muda a cor do link do rodapé ao passar o mouse sobre ele */

}

.direitos {
  color: var(--cor-laranja); /* Muda a cor do texto dos direitos autorais */
  font-size: 4px; /* Define o tamanho da fonte dos direitos autorais */

  
}

.direitos i {
  margin-left: 4px; /* Adiciona uma margem à esquerda do ícone dos direitos autorais */
  
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column; /* Alinha os elementos do cabeçalho em coluna */
    gap: 16px; /* Adiciona espaçamento entre os elementos do cabeçalho */
    padding: 16px 5%; /* Adiciona preenchimento interno ao cabeçalho */
    
  }

  .navegacao {
    gap: 19px; /* Adiciona espaçamento entre os links da navegação */
    
  }

  .destaque {
    padding: 48px 5%; /* Adiciona preenchimento interno ao destaque */
    
  }

  .destaque h1 {
    font-size: 35px; /* Define o tamanho da fonte do título do destaque */
  }

  .favoritos,
  .sobre,
  .contato {
    padding: 48px 5%; /* Adiciona preenchimento interno às seções de favoritos, sobre e contato */
  
  }

  .card {
    flex-direction: column; /* Alinha os elementos do card em coluna */
   
  }

  .card img {
    width: 100%; /* Define a largura da imagem do card como 100% */
    height: 170px; /* Define a altura da imagem do card como 170px */

  }

  .rodape {
    flex-direction: column; /* Alinha os elementos do rodapé em coluna */
    align-items: flex-start; /* Alinha os elementos do rodapé à esquerda */
    
  }
}